<h1 class="title">Mon compte</h1>

<form method="post" action="/me-post" id="meForm">
	<div class="input">
		<label for="login">Login</label>
		<input type="text" name="me[login]" id="login" value="<?= $this->_user->getLogin() ?>" disabled>
	</div>
	<div class="input">
		<label for="email">Email</label>
		<input type="text" name="me[email]" id="email" value="<?= $this->_user->getEmail() ?>" disabled>
	</div>
	<div class="input">
		<label for="oldpassword">Old pass</label>
		<input type="password" name="me[oldPassword]" id="oldpassword">
	</div>
	<div class="input">
		<label for="password">New pass</label>
		<input type="password" name="me[newPassword]" id="password">
	</div>
	<div class="sendform">
		<button>Envoyer</button>
	</div>
</form>