<h1 class="title">Mot de passe oublié</h1>

<form method="post" action="/reset-password-post" id="resetPassword">
	<div class="input">
		<label for="email">Email</label>
		<input type="text" name="resetPassword[email]" id="email">
	</div>
	<div class="sendform">
		<button>Envoyer</button>
	</div>
</form>