<h1 class="title">Inscription</h1>

<form method="post" action="/signup-post" id="signup">
	<div class="input">
		<label for="login">Login</label>
		<input type="text" name="signup[login]" id="login">
	</div>
	<div class="input">
		<label for="email">Email</label>
		<input type="text" name="signup[email]" id="email">
	</div>
	<div class="input">
		<label for="password">Password</label>
		<input type="password" name="signup[password]" id="password">
	</div>
	<div class="sendform">
		<button>Envoyer</button>
	</div>
</form>