<h1 class="title">Connexion</h1>

<form method="post" action="/signin-post" class="signin" id="signin">
	<div class="input">
		<label for="login">Login</label>
		<input type="text" name="signin[login]" id="login">
	</div>
	<div class="input">
		<label for="password">Password</label>
		<input type="password" name="signin[password]" id="password">
	</div>
	<div class="sendform">
		<button>Connexion</button>
	</div>
</form>
<div class="moreSignin">
	<a href="/signup" class="primary left">Inscription</a>
	<a href="/reset-password" class="primary right">Mot de passe oublié ? </a>
</div>