<h1 class="title">Accueil</h1>

<p>Voici Camagru, sur ce projet vous pourrez :</p>
<ul>
	<li>Vous <a href="/signup" class="primary">inscrire</a></li>
	<li>Vous <a href="/signin" class="primary">connecter</a></li>
	<li>Reset votre <a href="/reset-password" class="primary">password</a> en cas d'oubli</li>
	<li>Accéder à votre <a href="/me" class="primary">compte</a></li>
	<li>Accéder à la <a href="/gallery" class="primary">galerie photos</a></li>
	<li>Accéder à <a href="/gallery/me" class="primary">votre galerie photos</a></li>
	<li>Créer un nouveau <a href="/gallery/new/webcam" class="primary">montage par webcam</a></li>
	<li>Créer un nouveau <a href="/gallery/new/upload" class="primary">montage par upload</a></li>
	<li>Supprimer un de vos <a href="/gallery/me" class="primary">montages</a></li>
	<li>Liker un <a href="/gallery" class="primary">montage</a></li>
	<li>Commenter un <a href="/gallery" class="primary">montage</a></li>
</ul>

<p>Dans le cadre des bonus :</p>
<ul>
	<li>Echange avec le serveur en AJAX</li>
	<li>Uniker un <a href="/gallery" class="primary">montage</a></li>
	<li>Visuel live sur <a href="/gallery/new/webcam" class="primary">vos montages</a></li>
	<li>Réecriture d'url</li>
	<li>Montage avec <a href="/gallery/new/webcam" class="primary">plusieurs elements</a></li>
	<li><a href="/gallery" class="primary">Pagination</a> infinie</li>
	<li>Gestion de page <a href="/toto-aime-les-carottes" class="primary">404</a> personalisée</li>
	<li>Gravatar</li>
</ul>