<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<link href="/img/icon.png" rel="shortcut icon" type="image/png">
		<title>Camagru</title>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/font.css">
	</head>
	<body>
		<header>
			<h1><a href="/">Camagru</a></h1>
			<div class="login">
				<?php if (!$user->connected()) : ?>
					<a href="/signin" class="in">Connexion</a>
					<a href="/signup" class="up">Inscription</a>
				<?php else : ?>
					<a href="/signout" class="in">Deconnexion</a>
					<a href="/me" class="userPicture" style="background-image: url('http://www.gravatar.com/avatar/<?= md5($user->getEmail()) ?>');"></A>
				<?php endif; ?>
			</div>
		</header>
		<div id="primary">
			<section>
				<b class="title">Menu</b>
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/gallery">Tous les montages</a></li>
					<?php if ($user->connected()) : ?>
						<li><a href="/gallery/me">Mes montages</a></li>
						<li><a href="/gallery/new/webcam">Ajouter par webcam</a></li>
						<li><a href="/gallery/new/upload">Ajouter par upload</a></li>
						<li><a href="/me">Mon compte</a></li>
					<?php endif; ?>
				</ul>
			</section>
			<div class="content">
				<?= $page->getContent() ?>
			</div>
		</div>
		<div class="clear"></div>
		<footer>
			triviere © All rigths reserved
		</footer>
		<script src="js/main.js" type="text/javascript"></script>
	</body>
</html>

