<h1 class="title">Tous les montages</h1>

<?php $images = $this->getAllMontages(); ?>
<div class="timeline">
	<?php if (!count($images)): ?>
		<p>Aucun montage</p>
	<?php else : ?>
		<?php foreach ($images as $img): ?>
			<div class="montage">
				<a href="/gallery/<?=$img['img_id']?>">
					<div class="head">
						<img class="avatar" src="http://www.gravatar.com/avatar/<?= $img['avatar'] ?>">
						<b class="author"><?= $img['login'] ?></b>
						<?php if($this->_user->connected()) : ?>
							<span data-id="<?= $img['img_id'] ?>" class="like <?= ($img['liked'] ? "on" : "off") ?>"></span>
						<?php endif; ?>
					</div>
					<div class="img" style="background-image : url('/img/montage/montage-<?=$img['img_id']?>.jpg');"></div>
				</a>
			</div>
		<?php endforeach; ?>
		<?php if (count($images) == 5) : ?>
			<div id="paginationButton" data-url="/gallery/page/" data-page="2">Voir plus</div>
		<?php endif ; ?>
	<?php endif; ?>
</div>