<h1 class="title">Créer un montage avec une image</h1>
<form method="post" action="/gallery/new/upload-action" enctype="multipart/form-data">
	<div class="input">
		<label for="image">Image</label>
		<input type="file" name="image" id="image">
	</div>
	<div class="previewMontage"></div>
	<div class="selectMontage">
		<?php
			$elements = $this->getElements();
			foreach ($elements as $el): 
		?>
			<input type="checkbox" name="montage[]" value="<?=$el['url']?>"><div class="element montage" style="background-image: url('/img/component/<?=$el['url']?>')"></div>
		<?php endforeach; ?>
	</div>
	<div class="sendform">
		<button>Créer le montage</button>
	</div>
</form>