<h1 class="title">Créer un montage avec la webcam</h1>
<div class="webcam" id="addByWebcam">
	<div id="previewVideo">
		<div id="calques"></div>
		<video id="video"></video>
	</div>
	<button id="startbutton" class="disabled"></button>
	<canvas id="canvas"></canvas>
	<form method="post" action="/me-post">
		<div class="previewMontage" id="photo"></div>
		<div class="selectMontage" >
			<?php
				$elements = $this->getElements();
				foreach ($elements as $el): 
			?>
				<div class="element montage" data-image='<?= $el['url'] ?>' style="background-image: url('/img/component/<?= $el['url'] ?>')"></div>
			<?php endforeach; ?>
		</div>
	</form>
</div>
<div id="addByWebcamPlaceholder">
	<p>Vous devez avoir un écran plus grand pour faire mumuse avec votre webcam</p>
</div>
