<h1 class="title">Picture</h1>

<?php $img = $this->getSingleImage() ?>
<div class="timeline">
<?php if ($img !== NULL) : ?>
	<div class="montage">
		<div class="head">
			<img class="avatar" src="http://www.gravatar.com/avatar/<?= md5($img['email']) ?>">
			<b class="author"><?= $img['login'] ?></b>
			<span data-id="<?= $img['img_id'] ?>" class="like <?= ($img['liked'] ? "on" : "off") ?>"></span>
		</div>
		<div class="img" style="background-image : url('/img/montage/montage-<?=$img['img_id']?>.jpg');"></div>
		<div class="comments">
			<form method="post" action="/gallery/<?=$img['img_id']?>/comment" class="signin">
				<div class="input">
					<textarea id="commentaire" name="comment" placeholder="Commentaire..."></textarea>
				</div>
				<div class="sendform">
					<button>Envoyer</button>
				</div>
			</form>
			<hr>
			<?php $comments = $this->getComments(); ?>
			<?php if ($comments != NULL) : ?>
				<?php foreach ($comments as $com): ?>
				<div class="commentaire">
					<div class="author">
						<img src="http://www.gravatar.com/avatar/<?= md5($com['email']) ?>">
						<b><?= $com['login'] ?></b>
					</div>
					<div class="value">
						<p><?=$com['value']?></p>
					</div>
				</div>
				<?php endforeach; ?>
			<?php else : ?>
				<p>Aucun commentaires</p> 
			<?php endif; ?>
		</div>
	</div>
<?php else : ?>
	<p>Cette image n'existe pas</p>
<?php endif ?>
</div>