@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-Regular.eot');
    src: font-url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-Regular.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-Italic.eot');
    src: font-url('../fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-Italic.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-Italic.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-Italic.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-Bold.eot');
    src: font-url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-Bold.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-BoldItalic.eot');
    src: font-url('../fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-BoldItalic.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-Thin.eot');
    src: font-url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-Thin.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-ThinItalic.eot');
    src: font-url('../fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-ThinItalic.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-ThinItalic.svg#RobotoThinItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-Light.eot');
    src: font-url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-Light.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-Light.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-LightItalic.eot');
    src: font-url('../fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-LightItalic.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-LightItalic.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-Medium.eot');
    src: font-url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-Medium.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-MediumItalic.eot');
    src: font-url('../fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-MediumItalic.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}