/*
	color : https://color.adobe.com/fr/Couleur-site-actuel-color-theme-4083104/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copie%20de%20Couleur%20site%20actuel&mode=rgb&rgbvalues=1,0.517647,0.137255,1,0.431373,0.0901961,1,0.352941,0,0.12549,0.129412,0.133333,0.858824,0.85098,0.886275&swatchOrder=0,1,2,3,4;

	Primary color	:	FF5A00
	Secondary color : 	FF6E17
	Tercary color	:	FF8423

	White color		:	DBD9E2
*/

div.clear {clear:both;}
a { text-decoration: none; }
a.primary { color : #FF5A00 ;}

a.left { float : left;}
a.right { float : right;}

body {
	min-width: 340px;
	background: #DBD9E2;
	margin: 0px;
	padding: 0px;
	font-family: 'Arial';
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

header {
	width: 100%;
	height: 80px;
	background-color: #FF5A00;
	border-bottom: 5px solid #FF8423;
}

header h1 {
	line-height: 80px;
	margin: 0px;
	padding: 0px 0px 0px 30px;
	font-size: 42px;
	display: inline-block;
}

header h1 a {
	color : white;
}

header div.login {
	vertical-align: top;
	line-height: 80px;
	display: block;
	text-align: center;
}

header div.login a { 
	font-weight: bold;
	color: white;
	font-weight: bold;
	outline: none;
	padding: 5px 10px;
	border-radius: 3px;
	width : 100%;
	height: 100%;
	margin-left : 10px;
	font-size: 12px;
}

header div.login a.in {
	background-color: #FF8423;
	border : 2px solid white;
}

header div.login a.up {
	background-color: #FF6E17;
	border : 2px solid white;
}

header div.login a.userPicture {
	width: 30px;
	height: 36px;
	border-radius: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	border: 2px solid #FFB756;
	margin-left: 10px;
}

footer {
	width: 100%;
	height: 80px;
	background-color: #FF8423;
	border-top: 5px solid #FF5A00;
	color : white;
	text-align: center;
	line-height: 80px;
}

div#primary {
	margin-top: 60px;
	width: 100%;
	display: table;
}


section {
	width : calc(100% - 20px);
	margin: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100px;
	display: table;
	background-color: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

section b.title {
	color : white;
	width : 100%;
	height: 40px;
	background-color: #FF5A00;
	text-align: center;
	display: block;
	line-height: 40px;
	font-size: 24px;
	margin-bottom: 1px;
	border-bottom: 5px solid #FF8423;
}

section ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

section ul li {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left : 10px;
	border-bottom: 1px solid #FF8423;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

section ul li a {
	color: #FF8423;
	width: 100%;
	height: 100%;
	display: block;
}

div.content {
	width : calc(100% - 20px);
	margin: 10px;
	display: table;
	float: left;
	border-top: 5px solid #FF8423;
	background-color: white;
	padding: 0px 20px 20px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

div.content h1.title {
	text-align: center;
	color : #FF5A00;
}

form div.input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	display: table;
	margin-bottom: 10px;
}

form div.input label {
	width : 80px;
	display: inline-block;
}

form div.input input, form div.input textarea {
	width : calc(100% - 100px);
	float: right;
	height: 30px;
	display: inline-block;
	font-size: 16px;
	box-sizing : border-box;
	-moz-box-sizing : border-box;
	padding: 0px 10px;
	outline: none;
}

form div.input textarea {
	width: 100%;
	height: 100px;
	resize: none;
	padding: 5px 10px;
}

form div.input input[disabled] {
	color : #CCCCCC;
}

form div.input input:focus, form div.input textarea:focus {
	border : 1px solid #FF8423;
}

form div.sendform {
	text-align: center;
}

form div.sendform button {
	background-color: #FF8423;
	border: 2px solid #FF5A00;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 5px 15px;
}

div.moreSignin {
	margin-top : 10px;
}

div.moreSignin a {
	font-size: 12px;
}

canvas { display: none; }

div.selectMontage {
	margin-bottom: 20px;
}

div.element.montage {
	display: inline-block;
	border: 2px solid #CCCCCC;
	width: 130px;
	height: 130px;
	cursor: pointer;
	background-size: cover;
}

div.previewMontage {
	background-color: rgba(40, 40, 40, 0.4);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-bottom: 30px;
	box-sizing: border-box;
}

div#previewVideo {
	position: relative;
}

div#previewVideo img.imgMontage {
	position: absolute;
	z-index: 1;
	top : 200px;
	left: 225px;
}

div#previewVideo img.imgMontage.move {
	opacity: 0;
}

div.element.montage.placeholder {
	border: 2px dashed #FF8423;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 50%;
}

div.element.montage.active {
	border: 2px solid #FF8423;
}

div.webcam {
	position: relative;
}

div.webcam video, div.previewMontage {
	display: table;
    margin: 10px auto;
    z-index: -1;
}

div.webcam div#calques {
	width: 600px;
	height: 450px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
}

div.webcam button#startbutton {
	background-color: #FF8423;
	border: 2px solid white;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	top : 400px;
	left: 50%;
	margin-left : -15px;
	outline: none;
	cursor: pointer;
}

div.webcam button#startbutton.disabled {
	background-color: #666666;
}

div.timeline {
	text-align: center;
}

div.timeline div.montage {
	position: relative;
	width: 100%;
	max-width: 600px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

div.timeline div.montage div.img {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	padding-bottom: 75%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

div.timeline div.montage div.head {
	background-color: #FF8423;
	text-align: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px 10px;
	border-top: 4px solid #FF5A00;
}

div.timeline div.montage div.head b.author {
	vertical-align: top;
	font-size: 26px;
	line-height: 40px;
	color : white;
	display: inline-block;
	margin-top: 3px;
}

div.timeline div.montage div.head span.like {
	float: right;
	right : 10px;
	width: 50px;
	height: 50px;
	display: block;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: -3px;
	cursor: pointer;
}


div.timeline div.montage div.head span.like.on {
	background-image: url('/img/like-on.png');
}

div.timeline div.montage div.head span.like.off {
	background-image: url('/img/like-off.png');
}

div.timeline div.montage div.head img {
	border-radius: 50%;
	border: 2px solid white;
	width : 40px;
	height: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-top: 3px;
}

div.timeline div.montage a.delete {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color : red;
	color: white;
	display: block;
}

div.timeline div.comments {
	width: 100%;
	margin-top: 20px;
	padding : 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-top: 3px solid #FF5A00;
}

div.commentaire {
	border-bottom: 1px solid #DBD9E2;
	margin: 10px 0px;
	padding: 10px 0px;
}

div.commentaire div.author {
	display: inline-block;
	width: 100px;
	text-align: center;
}

div.commentaire div.author img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: block;
	margin: 0px auto;
	border: 2px solid #FF5A00;
}

div.commentaire div.author b {
	vertical-align: top;
	line-height: 30px;
	color: #FF5A00;
}

div.commentaire div.value {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 120px);
	text-align: left;
}

div.commentaire div.value p {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

div#addByWebcam {
	display : none;
}

div#addByWebcamPlaceholder {
	display: block;
	background: rgba(255, 0, 0, 0.3);
	color : red;
	padding: 10px;
	text-align: center;
	border : 2px dashed red;
}

div#paginationButton {
	width: 100%;
	background-color: #FF5A00;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

@media only screen and (min-width: 900px) {

	section {
		width : calc(20% - 20px);
		float: left;
	}

	div#primary {
		margin-top: 0px;
	}

	div.content {
		width : calc(80% - 20px);
	}

	header div.login {
		float: right;
		vertical-align: top;
		line-height: 80px;
		margin-right: 30px;
	}

	div#addByWebcam {
		display : block;
	}

	div#addByWebcamPlaceholder {
		display : none;
	}
}